@import "reset";
@import "buttons";
@import "colors";
@import "animations";
@import "font";
@import "spacing";
header {
  background-color: $bg-hero;

  nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    ul {
      padding-right: 50px;
      li {
        display: inline-flex;
        padding-left: 20px;
        a {
          text-decoration: none;
          color: $text-color;
        }
      }
    }
  }
  #herocontent {
    display: flex;
  }
}
main {
  #grid {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    img {
      width: calc(25% - 40px);
      padding: 20px;
    }
  }
}
